#container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-auto-rows: sideSquares;
    grid-auto-columns: sideSquares;
}

@keyframes hoverstyle {
    0% {
        background-color: white;
    }
    100% {
        background-color: black;
    }
    
}

div {
    /*border: solid;*/
    width: 20px;
    height: 20px;
    /*background-color: aqua;*/
    animation-name: hoverstyle;
    animation-duration: 100ms;
    animation-fill-mode: both;
}

div:active,
div:focus,
div:hover {
    /*background-color: black;*/
    animation-fill-mode: both;
}

.element {
    animation-name: hoverstyle;
    animation-duration: 1ms;
    animation-play-state: paused;
    animation-fill-mode: both;
}

.element:active,
.element:focus,
.element:hover {
    animation-play-state: running;
}